body{
  --slack-color: #3f0f40;
}

.app__body{
  display:flex;
  height:100vh;
}

.app__welcome{
  /* height:100%; */
  /* width:100%; */
  display:flex;
  justify-content: center;
  padding-top:40px;
  padding-left:50px;
  font-size:2.5rem;
}